*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'sportage';
    src: url('../font/sportage-demo-webfont.woff2') format('woff2'),
         url('../font/sportage-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background: url("../img/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'sportage';
    font-weight:400
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dfc03e; 
  }
  /* PlaceHolder Color*/
  .form-control::placeholder {
    color: #dfc03e;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #dfc03e;
  }
  
  ::-ms-input-placeholder {
    color: #dfc03e;
  }
.side-navbar {
    width: 300px;
    height: 100%;
    position: fixed;
    margin-left: -350px;
    background-color: #ffffff;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: normal;
  }
.side-navbar ul{
    color: #64605c;
    font-size: 30px;
    pointer-events: stroke;
    cursor: progress;
}
.btn-danger{
    color: #fff;
    background-color: #bc9155;
    border: #85732d;
}
.btn-danger:hover{
    color: #fff;
    background-color: #8d652e;
    border: #857433;
}
.side-navbar ul a{
    color: #dfc03e;
    text-decoration: none;
}
.side-navbar ul li a{
  color: #64605c;
}
.side-navbar ul a:hover{
    color: black;
}
.side-navbar ul li a:hover{
  color: #64605c;
}
.signform a{
    color: #bc9155;
}
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #dfc03e;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 300px;
  }
  
  #menu-btn {
    background-color: #dfc03e;
    color: #fff;
    margin-left: -62px;
    position: fixed;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }

  .custm{
    color: #dfc03e;
  }



  /*Register*/
  .form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: #64605c;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
  color: #64605c;
  font-size: 32px;
}

.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: white;
  color: #64605c;
}

.form-content h3 {
  color: #64605c;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #64605c;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #64605c;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 1px solid black;
  outline: 0;
  border-radius: 6px;
  background-color: white;
  font-size: 15px;
  font-weight: 300;
  color: #64605c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: black;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #64605c;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #64605c;
}

.mv-up{
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.invalid-feedback{
  color: #ff606e;
}

.valid-feedback{
 color: #2acc80;
}